infra/reference/application-stack-portfolio.yaml
AWSTemplateFormatVersion: "2010-09-09"
Description: >
  Smart Video Monitoring application stack. Connects an existing Kinesis Video
  Stream to S3, Rekognition Video, SNS, Lambda, OpenSearch, API Gateway,
  CloudFront, and Step Functions. Adapted from the AWS workshop template for
  portfolio documentation and repeatable deployment.

Parameters:
  ProjectName:
    Type: String
    Default: smart-video-monitoring
    Description: Project tag applied to supported resources.

  OpenSearchApiUrl:
    Type: String
    Description: OpenSearch domain endpoint URL from the foundation stack, including https://.

  OpenSearchARN:
    Type: String
    Description: OpenSearch domain ARN from the foundation stack.

  KVSStreamName:
    Type: String
    Default: WebRTCStream-1
    Description: Existing Kinesis Video Stream name used for stored video ingestion.

  KvsLambdaRuntime:
    Type: String
    Default: nodejs16.x
    AllowedValues:
      - nodejs16.x
      - nodejs18.x
      - nodejs20.x
      - nodejs22.x
    Description: >
      Runtime for the workshop KVS Lambda package. Keep nodejs16.x for maximum
      workshop compatibility. If AWS rejects the deprecated runtime, retry with
      nodejs20.x or nodejs22.x, but verify the packaged code still works.

Mappings: {}

Resources:
  RekognitionResultsFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-rekognition-indexer"
      Runtime: python3.11
      Role: !GetAtt LambdaRole.Arn
      Handler: main.lambda_handler
      Timeout: 900
      MemorySize: 1024
      Code:
        S3Bucket: ws-assets-prod-iad-r-pdx-f3b3f9f1a7d6a3d0
        S3Key: 0c7e49a5-b5c4-4f6d-b26b-9b2d8b5cbd2f/rekognition_lambda.zip
      Environment:
        Variables:
          OPEN_SEARCH_API_URL: !Ref OpenSearchApiUrl
      Description: Receives Rekognition completion events and indexes labels into OpenSearch.
      TracingConfig:
        Mode: Active
      Tags:
        - Key: Project
          Value: !Ref ProjectName

  RekognitionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-rekognition-role-${AWS::Region}"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - rekognition.amazonaws.com
            Action:
              - sts:AssumeRole
      ManagedPolicyArns:
        # Broad workshop permissions retained for compatibility with the packaged code.
        # Future hardening: replace with least-privilege inline policies.
        - arn:aws:iam::aws:policy/AmazonKinesisFullAccess
        - arn:aws:iam::aws:policy/service-role/AmazonRekognitionServiceRole
        - arn:aws:iam::aws:policy/AmazonS3FullAccess
        - arn:aws:iam::aws:policy/AmazonSNSFullAccess
      Tags:
        - Key: Project
          Value: !Ref ProjectName

  LambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-lambda-role-${AWS::Region}"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - sts:AssumeRole
      ManagedPolicyArns:
        # Broad workshop permissions retained for compatibility with the packaged code.
        # Future hardening: replace with least-privilege inline policies.
        - arn:aws:iam::aws:policy/AmazonKinesisFullAccess
        - arn:aws:iam::aws:policy/AmazonKinesisVideoStreamsFullAccess
        - arn:aws:iam::aws:policy/AmazonOpenSearchServiceFullAccess
        - arn:aws:iam::aws:policy/AmazonRekognitionFullAccess
        - arn:aws:iam::aws:policy/AmazonS3FullAccess
        - arn:aws:iam::aws:policy/CloudWatchFullAccess
      Policies:
        - PolicyName: LambdaBasicLogging
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: logs:CreateLogGroup
                Resource: !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:*"
              - Effect: Allow
                Action:
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: !Sub "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/*:*"
        - PolicyName: OpenSearchHttpAccess
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - es:ESHttpGet
                  - es:ESHttpPost
                  - es:ESHttpPut
                  - es:ESHttpDelete
                  - es:ESHttpHead
                Resource:
                  - !Ref OpenSearchARN
                  - !Sub "${OpenSearchARN}/*"
        - PolicyName: PassRekognitionRole
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: iam:PassRole
                Resource: !GetAtt RekognitionRole.Arn
      Tags:
        - Key: Project
          Value: !Ref ProjectName

  CloudFrontOriginIdentity:
    Type: AWS::CloudFront::CloudFrontOriginAccessIdentity
    Properties:
      CloudFrontOriginAccessIdentityConfig:
        Comment: !Sub "${ProjectName} S3 origin identity"

  S3BucketVideo:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "${ProjectName}-video-${AWS::AccountId}-${AWS::Region}"
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      Tags:
        - Key: Project
          Value: !Ref ProjectName

  BucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref S3BucketVideo
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Sid: AllowCloudFrontRead
            Effect: Allow
            Principal:
              CanonicalUser: !GetAtt CloudFrontOriginIdentity.S3CanonicalUserId
            Action: s3:GetObject
            Resource: !Sub "arn:aws:s3:::${S3BucketVideo}/*"

  MyCloudFrontDistribution:
    Type: AWS::CloudFront::Distribution
    DependsOn: BucketPolicy
    Properties:
      DistributionConfig:
        Comment: !Sub "${ProjectName} distribution for stored video artifacts"
        Origins:
          - Id: S3VideoOrigin
            DomainName: !GetAtt S3BucketVideo.RegionalDomainName
            S3OriginConfig:
              OriginAccessIdentity: !Sub "origin-access-identity/cloudfront/${CloudFrontOriginIdentity}"
        DefaultCacheBehavior:
          TargetOriginId: S3VideoOrigin
          ForwardedValues:
            QueryString: false
          ViewerProtocolPolicy: redirect-to-https
        Enabled: true
        DefaultRootObject: index.html
      Tags:
        - Key: Project
          Value: !Ref ProjectName

  SnsTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub "${ProjectName}-rekognition-${AWS::AccountId}"
      Subscription:
        - Endpoint: !GetAtt RekognitionResultsFunction.Arn
          Protocol: lambda
      Tags:
        - Key: Project
          Value: !Ref ProjectName

  RekognitionLambdaInvokePermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      Principal: sns.amazonaws.com
      SourceArn: !Ref SnsTopic
      FunctionName: !GetAtt RekognitionResultsFunction.Arn

  SearchFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-search"
      Runtime: python3.11
      Role: !GetAtt LambdaRole.Arn
      Handler: main.lambda_handler
      Timeout: 900
      MemorySize: 1024
      Code:
        S3Bucket: ws-assets-prod-iad-r-pdx-f3b3f9f1a7d6a3d0
        S3Key: 0c7e49a5-b5c4-4f6d-b26b-9b2d8b5cbd2f/search_lambda.zip
      Environment:
        Variables:
          OPEN_SEARCH_API_URL: !Ref OpenSearchApiUrl
      Description: Handles search API requests against OpenSearch.
      TracingConfig:
        Mode: Active
      Tags:
        - Key: Project
          Value: !Ref ProjectName

  KvsProcessorFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-kvs-processor"
      Runtime: !Ref KvsLambdaRuntime
      Role: !GetAtt LambdaRole.Arn
      Handler: index.handler
      Timeout: 900
      MemorySize: 1024
      Code:
        S3Bucket: ws-assets-prod-iad-r-pdx-f3b3f9f1a7d6a3d0
        S3Key: 0c7e49a5-b5c4-4f6d-b26b-9b2d8b5cbd2f/kvs_lambda.zip
      Environment:
        Variables:
          KVS_STREAM_NAME: !Ref KVSStreamName
          SNS_TOPIC_NAME: !Ref SnsTopic
          REK_ROLE_ARN: !GetAtt RekognitionRole.Arn
          S3_BUCKET_NAME: !Ref S3BucketVideo
      Description: Reads KVS video, stores clips in S3, and starts Rekognition label detection.
      TracingConfig:
        Mode: Active
      Tags:
        - Key: Project
          Value: !Ref ProjectName

  SearchApiGateway:
    Type: AWS::ApiGateway::RestApi
    Properties:
      Description: Search API Gateway for OpenSearch-backed video detections.
      EndpointConfiguration:
        Types:
          - REGIONAL
      Name: !Sub "${ProjectName}-search-api"
      Tags:
        - Key: Project
          Value: !Ref ProjectName

  SearchApiGatewayOptionsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref SearchApiGateway
      ResourceId: !GetAtt SearchApiGateway.RootResourceId
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: 200
            ResponseParameters:
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Methods: "'GET,PUT,POST,DELETE,OPTIONS'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
            ResponseTemplates:
              application/json: ""
      MethodResponses:
        - StatusCode: 200
          ResponseParameters:
            method.response.header.Access-Control-Allow-Headers: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Origin: true

  SearchApiGatewayRootMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      AuthorizationType: NONE
      HttpMethod: GET
      Integration:
        IntegrationHttpMethod: POST
        Type: AWS_PROXY
        Uri: !Sub "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${SearchFunction.Arn}/invocations"
      ResourceId: !GetAtt SearchApiGateway.RootResourceId
      RestApiId: !Ref SearchApiGateway
      MethodResponses:
        - StatusCode: 200
          ResponseParameters:
            method.response.header.Access-Control-Allow-Headers: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Origin: true

  SearchApiGatewayDeployment:
    Type: AWS::ApiGateway::Deployment
    DependsOn:
      - SearchApiGatewayRootMethod
      - SearchApiGatewayOptionsMethod
    Properties:
      RestApiId: !Ref SearchApiGateway
      StageName: prod

  SearchLambdaApiGatewayInvokePermission:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !GetAtt SearchFunction.Arn
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${SearchApiGateway}/*/GET/"

  StatesExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-states-role-${AWS::Region}"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - !Sub states.${AWS::Region}.amazonaws.com
            Action: sts:AssumeRole
      Path: "/"
      Policies:
      - PolicyName: StatesExecutionPolicy
        PolicyDocument:
          Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Action:
                - lambda:InvokeFunction
              Resource:
                - !GetAtt KvsProcessorFunction.Arn
                - !Sub "${KvsProcessorFunction.Arn}:*"
      Tags:
        - Key: Project
          Value: !Ref ProjectName

  KVSStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${ProjectName}-kvs-processor"
      DefinitionString: !Sub |
        {
          "Comment": "Periodically processes KVS video clips while doContinue is true.",
          "StartAt": "Choice",
          "States": {
            "Choice": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.doContinue",
                  "BooleanEquals": true,
                  "Next": "Wait"
                }
              ],
              "Default": "Graceful Stop"
            },
            "Wait": {
              "Type": "Wait",
              "Seconds": 60,
              "Next": "Lambda Invoke"
            },
            "Lambda Invoke": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload.$": "$",
                "FunctionName": "${KvsProcessorFunction.Arn}:$LATEST"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2
                }
              ],
              "Next": "Choice"
            },
            "Graceful Stop": {
              "Type": "Wait",
              "Seconds": 5,
              "End": true
            }
          }
        }
      RoleArn: !GetAtt StatesExecutionRole.Arn
      Tags:
        - Key: Project
          Value: !Ref ProjectName

Outputs:
  StepFunctionARN:
    Description: Step Function ARN used to start KVS clip processing.
    Value: !GetAtt KVSStateMachine.Arn

  APIGWURL:
    Description: Search API URL.
    Value: !Sub "https://${SearchApiGateway}.execute-api.${AWS::Region}.amazonaws.com/prod"

  LambdaRoleArn:
    Description: Shared Lambda role ARN.
    Value: !GetAtt LambdaRole.Arn

  CloudFrontDomainName:
    Description: CloudFront distribution domain name for stored artifacts.
    Value: !GetAtt MyCloudFrontDistribution.DomainName

  VideoBucketName:
    Description: S3 bucket used to store video clips and generated artifacts.
    Value: !Ref S3BucketVideo
